<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="postgresDS"></property>
    </bean>

    <bean id="postgresDS" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="org.postgresql.Driver"/>
        <property name="jdbcUrl" value="#{misc.getValueFromEnv('db_url')}"/>
        <property name="initialPoolSize" value="5"/>
    </bean>

    <bean id="uri" class="java.net.URI" factory-method="create">
        <constructor-arg index="0" value="#{misc.getValueFromEnv('CLOUDAMQP_URL')}"/>
    </bean>

    <bean id="cachingConnectionFactory" class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
        <constructor-arg index="0" ref="uri"/>
    </bean>

    <bean id="rabbitAdmin" class="org.springframework.amqp.rabbit.core.RabbitAdmin">
        <constructor-arg index="0" ref="cachingConnectionFactory"/>
    </bean>

    <bean id="misc" class="org.boka.cafe.Misc.Misc"/>


</beans>